body {
margin:0;
font-family:Inter,system-ui;
background:#0f172a;
color:white;
}

.container {
max-width:900px;
margin:auto;
padding:40px 20px;
}

.card {
background:#020617;
border-radius:20px;
padding:30px;
box-shadow:0 0 40px rgba(0,0,0,.5);
border:1px solid #334155;
}

h1 {
text-align:center;
margin-bottom:20px;
}

input,button {
width:100%;
padding:14px;
border-radius:10px;
margin-top:12px;
font-size:16px;
}

input {
background:#020617;
color:white;
border:1px solid #475569;
}

button {
background:#2563eb;
color:white;
cursor:pointer;
display:flex;
justify-content:center;
align-items:center;
gap:10px;
}

.preview {
margin-bottom:15px;
text-align:center;
}

.preview img {
max-width:220px;
border-radius:12px;
border:1px solid #475569;
}

/* Upload */

.upload-wrapper {
display:flex !important;
flex-direction:column !important;
gap:6px;
margin-top:10px;
align-items:stretch;
}

.upload-btn {
background:#d39e0d;
border:1px solid #475569;
padding:14px;
border-radius:10px;
cursor:pointer;
text-align:center;
transition:.2s;
}

.upload-btn:hover {
background:#b8890b;
}

#filename {
display:block;
width:100%;
text-align:center;
font-size:13px;
color:#94a3b8;
margin-top:4px;
}

#size{
display:block;
width:100%;
text-align:center;
font-size:13px;
color:#94a3b8;
margin-top:4px;
}

/* Resultados */

.results {
margin-top:30px;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
}

.result img {
width:100%;
border-radius:12px;
border:1px solid #475569;
}

.download {
margin-top:5px;
display:block;
text-align:center;
color:#38bdf8;
text-decoration:none;
}

.loader {
display:none;
text-align:center;
margin-top:15px;
}

/* Spinner */

.spinner {
width:16px;
height:16px;
border:2px solid transparent;
border-top:2px solid white;
border-radius:50%;
animation:spin 1s linear infinite;
display:none;
}

@keyframes spin {
to { transform: rotate(360deg); }
}




